<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form action="#" th:action="@{/new}" th:object="${user}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="surname">surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <input type="submit" value="Create User">
</form>
</body>
</html>